@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

body {
    height: 90vh;
    box-sizing: border-box;
    background-color: rgb(253,240,213);
    color: black;
}

*{
    margin: 0;
    padding: 0;

}

.main_flexcont{
    margin: 7%;
    display: flex;
    align-items: center;


}

.conteudo_mainflexcont{
    display: flex;
    align-items: center;
    gap: 20px;
}

.titulo1{
    font-size: 40px;
    font-family: "Alata", serif;
    font-weight: 552;
    font-style: normal;
}


.htmlTexto{
    font-size: 20px;
    font-family: "Alata", serif;
    font-weight: 250;
    font-style: normal;
    padding-top: 2%;
}

.titulo2{
    font-size: 40px;
    font-family: "Alata", serif;
    font-weight: 552;
    font-style: normal;
}

.pythonTexto{
    font-size: 20px;
    font-family: "Alata", serif;
    font-weight: 250;
    font-style: normal;
}

.htmlImage{
    display: inline-block
}

.html {
    display: flex; 
    align-items: center; 
}

.python {
    display: flex; 
    align-items: center; 
}

.pyImagem{
    display: inline-block;
}

.box_direita{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.box_esquerda{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}




.cssImagem{
    
    width: 8%;;
}

.titulo3{
    font-size: 40px;
    font-family: "Alata", serif;
    font-weight: 552;
    font-style: normal;
}

.cssTexto{
    font-size: 20px;
    font-family: "Alata", serif;
    font-weight: 250;
    font-style: normal;
    padding-top: 2%;
}

.cssDiv{
    display: flex;
    gap: 1%;
    align-items: center;
 }



.sqlImagem{
    display: inline-block;
     
}

.titulo4{
    font-size: 40px;
    font-family: "Alata", serif;
    font-weight: 552;
    font-style: normal;
    padding-top: 20%;
}

.sqlTexto{
    font-size: 20px;
    font-family: "Alata", serif;
    font-weight: 250;
    font-style: normal;
    padding-top: 2%;
}

.sqlDiv{
    display: flex;
    gap: 1%;
 }

.conheci{
    font-size: 52px;
    font-family: "Alata", serif;
    font-weight: 450;
    font-style: normal;

}

.botao{
    font-size: 30px;
    color: black;
    text-decoration: none;
    font-family: "Alexandria", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.botao:hover{
    font-size: 35px;
}

.cabecalho_conhe{
    display: flex;
    justify-content: space-between;
    padding: 2% 2%;

     }



@media(max-width:1547px){

    .conteudo_mainflexcont{
        width: auto;
        flex-direction: column;
        align-items: center;
    }

    .sql{
        flex-direction: column;
 
        width: auto;
    }

    .sqlDiv{
        width: auto;
        justify-content: center;
        align-items: center;
    }

    .sqlImagem{
        padding: 0%;
    }

    .titulo3{
        padding: 0%;
    }

    .css{

        flex-direction: column;
        width: auto;
    }

    .botao_inc{
        justify-content: space-between;
        padding: 2% 2%;
         }

    .cssDiv{
        width: auto;
        justify-content: center;
        align-items: center;
    }

    .cssImagem{
        padding: 0%;
    }

    .pyImagem{
        padding: 0%;
    }

    .titulo2{
        padding: 0%;
    }

    .conheci{
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0%;
        
    }

    .cabecalho_conhe{
        width: auto;
        display: flex;
        
        
    }

    .cssDiv{
        display: flex;
        gap: 1%;
        justify-content: flex-start;
     }

     .sqlDiv{
        display: flex;
        gap: 1%;
        justify-content: flex-start;

     }

     .htmlTexto{
        width: auto;
        padding: 0%;
     }

     .cssTexto{
        width: auto;
     }

     .sqlTexto{
        width: auto;
     }

     .pythonTexto{
        width: auto;
     }
     .box_esquerda{
        width: auto;
     }
     .box_direita{
        width: auto;
     }
}